{% extends 'base.html' %}
{% block pagetitle %}Tweet nicht gefunden{% endblock %}
{% block contenttitle %}Tweet{% endblock %}

{% block content %}

<div class="page-header">
	<h1>Der Panda ist traurig <small>Der Tweet wurde nicht gefunden</small></h1>
</div>
<div class="panel">
	<img src="/static/img/sadpanda.jpg" alt="Sad Panda"/>
</div>

<div class="alert">
	Der Tweet mit der ID {{ tweet }} ist hier nicht vorhanden!
</div>
<div class="alert alert-info">
	Vielleicht l&auml;sst es sich noch auf Twitter nachlesen.<br/>
	Der Link zur API lautet:
	<a href="https://api.twitter.com/1.1/statuses/show/{{ tweet }}.json">https://api.twitter.com/1.1/statuses/show/{{ tweet }}.json</a>
</div>

{% endblock %}
