<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<title>Aufschrei - {% block pagetitle %}{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<style>
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	</head>

	<body>

    		<div class="navbar navbar-fixed-top">
			<div class="container">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{% block contenttitle %}{% endblock %}</a>
				<div class="nav-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="{% block active_start %}{% endblock %}"><a href="/">#aufschrei</a></li>
						<li class="{% block active_timeline %}{% endblock %}"><a href="/timeline/">Timeline</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/holder.js"></script>
	</body>
</html>


