{% extends 'base.html' %}
{% load staticfiles %}
{% block pagetitle %}Bilder Seite {{ timeline.number }}{% endblock %}
{% block contenttitle %}Bilder{% endblock %}
{% block active_bilder %}active{% endblock %}

{% block content %}

<ul class="media-list">
	{% for tweet in timeline %}
	<li class="media">
		<a class="pull-left" href="{% url 'timeline.views.user' tweet.user.id %}"><img class="media-object" src="/{{ MEDIA_URL }}profile/{{ tweet.user.image }}" alt="{{ tweet.user.name }}"/></a>
		<div class="media-body">
			<h4 class="media-heading">{{ tweet.text }}</h4>
			<p><a href="{% url 'timeline.views.user' tweet.user.id %}">{{ tweet.user.name }}</a> &mdash; <a href="{% url 'timeline.views.tweet' tweet.tweet_id %}">{{ tweet.created_at|date:"r" }}</a></p>

			{% if tweet.url.all %}
			<div class="panel">
			<div class="panel-heading">Link(s)</div>
			{% for url in tweet.url.all %}
			<div class="media">
				<a class="pull-left" href="{{ url.longurl }}"><img class="media-object" src="{{ url.faviconurl }}" width="48px" height="48px" /></a>
				<div class="media-body">
					{{ url.url }}
					<h4 class="media-heading">{{ url.title }}</h4>
					<a href="{{ url.longurl }}">{{url.longurl}}</a><br/>
				</div>
			</div>
			{% endfor %}
			</div>
			{% endif %}

			{% if tweet.image.all %}
			<div class="panel">
			<div class="panel-heading">Bild(er)</div>
			<div class="row">
			{% for img in tweet.image.all %}
				<div class="col-lg-3">
					<a href="{{ img.image_url }}" class="thumbnail">
						<img src="/{{ MEDIA_URL }}images/{{ img.image }}" alt=""/>
					</a>
				</div>
			{% endfor %}
			</div>
			</div>
			{% endif %}

		</div>
	</li>
	{% endfor %}
</ul>

<ul class="pager">
	{% if timeline.has_previous %}
	<li class="previous">
		<a href="?page={{ timeline.previous_page_number }}">&larr; &Auml;lter</a>
	{% else %}
	<li class="previous disabled">
		<a href="#">&larr; &Auml;lter</a>
	{% endif %}
	</li>

	{% if timeline.has_next %}
	<li class="next">
		<a href="?page={{ timeline.next_page_number }}">Neuer &rarr;</a>
	{% else %}
	<li class="next disabled">
		<a href="#">Neuer &rarr;</a>
	{% endif %}
	</li>
</ul>

<h4>Insgesamt {{ tweets }} Tweets</h4>
<p>Zeige aktuell Tweets {{ timeline.start_index }} bis {{ timeline.end_index }}.</p>
{% endblock %}
